<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Usuario seleccionado</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
    <div class="container " style="text-align: center; max-width: 50%; margin-top: 2%;margin-bottom: 2%;">
        <h5>User selected: {{user.login}}</h5>
        <div>
            <img alt="Avatar" class="avatar" src={{user.image}}>
        </div>
        <h6>Page: {{user.page}}</h6>
    </div>
</body>

</html>